.grid-gaps {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 20px;
}  
.grid-item {
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.grid-gaps .grid-item .botones{
    width: 100%;
    margin-top: 10px;
    
}
.grid-gaps .grid-item .boton{
    cursor: pointer;
    width: 20%;
    display: inline-block;
    background: rgb(2, 75, 158);
    color: #fff;
    border: 2px solid transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.grid-gaps .grid-item .boton-restar{
    border-radius: 50% 0 0 50%;
}
.grid-gaps .grid-item .boton-sumar{
    border-radius: 0 50% 50% 0;
}
.grid-gaps .grid-item .cantidad{
    width: 50%;
    text-align: center;
    background: rgb(0, 140, 255);
    color: #fff;
    border: 2px solid transparent;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
}
.grid-gaps .grid-item .boton:hover{
    transition: .5s;
    background: rgb(6, 185, 0);
}
.casos .donar{
    width: 100%;
}
.casos .donar .total{
    width: 100%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 10px;
    background: rgb(113, 141, 146);
}
.casos .donar input[type="button"]{
    width: 100%;
    padding: 15px;
    background: #4F6367;
    border: 2px solid transparent;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.casos .donar input[type="button"]:hover{
    transition: .5s;
    background: rgb(43, 54, 56);
}
@media screen and (max-width: 750px){
    .grid-gaps{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 450px){
    .grid-gaps{
        grid-template-columns: auto;
    }
}